.container__movie {
    display: flex;
}

.col {
    border: 1px solid white;
}

.title__movie {

    font-size: 36px;
    color: white;
}
.img__movie {
    padding: 50px;
    width: 450px;
    height: 600px;
}

.title_long {
    font-size: 16px;
    color: white;
    padding-top: 45px;
}

.description {
    color: white;
    padding-top: 50px;
    width: 500px;
}

.comments {
    font-size: 36px;
    color: white;
    padding-top: 25px;
}

.navbar__movie {
    display: flex;
    height: 50px;
    background: black;
}
.navbar__title {
    width: 50%;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    font-size: 20px;
}

.navbar__button {
    position: absolute;
    top: 0;
    right: 0;
   margin-top: 10px;
    margin-right: 50px;
}